<%= render layout: "auth_layout", locals: {title: "Edit account" } do %>
    <%= form _for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>

        <div class="mb-6">
            <%= f.label :username, class: label_class%>
            <%= f.text_field :username, class: input_class%>
        </div>

    <% end %>
<% end %>